<h3>Chamados</h3>

<a href="/chamado/novo" class="btn btn-sm btn-primary">Adicionar Chamado</a>

{{#if success}}
    <div class="alert alert-success">
        {{#each success}}
            {{this}}
        {{/each}}
    </div>
{{/if}}

{{#if error}}
    <div class="alert alert-danger">
        {{#each error}}
            {{this}}
        {{/each}}
    </div>
{{/if}}

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Título</th>
            <th>Prioridade</th>
            <th>Situação</th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each listaChamados}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.titulo}}</td>
            <td>{{this.prioridade.nome}}</td>
            <td>
                {{this.situacao}}
            </td>
            <td>
                <a href="/chamado/{{this.id}}/atualizacao" class="btn btn-sm btn-primary">Atualização</a>
                <a href="/chamado/{{this.id}}/exclusao" class="btn btn-sm btn-danger">Exclusão</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>